body {
  margin: 0;
  padding: 2vh 2vw;
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
}

main {
  max-width: 60em;
  margin: 0 auto;
  text-align: center;
}

h1,
h2 {
  margin: 0;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

img {
  height: 10em;
  border-radius: 10%;
}

a {
  color: purple;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.subdued {
    font-size: 0.8em;
    filter: contrast(0.2);
}